{% extends 'portfolio/base.html' %}

{% block content %}

<h1 class="row justify-content-center my-3">Upcoming Works<h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-5">
      <h2 class="font-weight-bold">A Shadowing Flame</h2>
    </div>
    <div class="col-4">
      <h4 class="text-muted">Audiobook</h4>
    </div>
    <div class="col-3">
      <h3 class="text-muted">Release date: Christmas 2021</h3>
    </div>
    <div class="col-1">
      <h3 class="text-light"></h3>
    </div>
    <div class="col-2">
      
    </div>
    <div class="col-9">
      <h6 class="text-dark" font="small-font-size">Royalty always seems to have so many tough choices, high up in the castle, with servants to wait on them. However, Princess Rose has never been one to want others to serve her. That's not the only thing that she wishes to change about her life--she has always been fascinated with magic, which has been outlawed in the kingdom. But when several shadowy figures seem to want the princess out of the picture, she has no choice but to leave her fate in the hands of a mysterious newcomer, whose very existence is forbidden.</h6>
    </div>
    <div class="col-12">
      <h1 class="text-light"></h1>
    </div>
    <div class="col-12">
      <h1 class="text-light"></h1>
    </div>
    <div><hr class="divider"></div>
    <div class="col-5">
      <h2 class="font-weight-bold">Untitled</h2>
    </div>
    <div class="col-4">
      <h4 class="text-muted">Hardcopy, E-Book, Audiobook</h4>
    </div>
    <div class="col-3">
      <h3 class="text-muted">Release date: TBD</h3>
    </div>
    <div class="col-1">
      <h3 class="text-light"></h3>
    </div>
    <div class="col-2">

    </div>
    <div class="col-9">
      <h6 class="text-dark" font="small-font-size">Ever been on a date that was so bad that it was comical? This book is full of them. It will have you rolling over in laughter, all at my expense.</h6>
    </div>
    <div class="col-12">
      <h1 class="text-light"></h1>
    </div>
    <div class="col-12">
      <h1 class="text-light"></h1>
    </div>
    <div><hr class="divider"></div>
  </div>
</div>

{% endblock %}
